// Basic colors
$background-color: #fafafa
$background-color-inverted: #3a3a3a
$text-color: #3a3a3a
$text-color-inverted: #fafafa
$border-color: #eaeaea
$border-color-inverted: #4a4a4a

// Primary colors
$red: #e74c3c
$green: #2ecc71
$blue: #3498db
