.bg-primary {
  background: #2ecc71; }

.bg-secondary {
  background: #eaeaea; }

html,
body {
  background-color: #fafafa;
  color: #333; }

.particles {
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.flexbox {
  align-items: center;
  display: flex;
  justify-content: center; }

.fullpage {
  z-index: 2; }
